[package]
name = "eva-cloud-manager"
version.workspace = true
edition.workspace = true
repository.workspace = true
publish = false

[lib]
name = "ecm"
path = "src/lib.rs"

[[bin]]
name = "eva-cloud-manager"
path = "src/main.rs"

[dependencies]
serde = { features = ["derive", "rc"] , workspace = true }
serde_yaml = { workspace = true }
eva-common = { features = ["common-payloads", "console-logger"] , workspace = true }
eva-client = "0.5.2"
clap = { workspace = true, features = ["derive"] }
tokio = { features = ["full"] , workspace = true }
tera = "1.19.1"
log = { workspace = true }
env_logger = "0.11.1"
colored = "2.1.0"
bmart = { workspace = true }
atty = "0.2"
hyper = { version = "0.14.18", features = ["client", "http1", "tcp"] }
hyper-tls = "0.5"
serde_json = { workspace = true }
ttycarousel = { version = "0.1.4", features = ["tokio1"] }
hex = { workspace = true }
base64 = "0.13"
ring = "0.17.13"
prettytable-rs = "0.10.0"
chrono = "0.4.33"
bzip2 = "0.4.4"
openssl = { workspace = true }
expanduser = "1.2.2"

[features]
openssl-vendored = ["openssl/vendored"]

[build-dependencies]
cargo_metadata = "0.18.1"
