[package]
name = "eva-videosink"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
async-channel = { workspace = true }
async-trait = { workspace = true }
bma-ts = { workspace = true }
eva-common = { workspace = true, features = ["events", "common-payloads", "payload", "acl", "multimedia"] }
eva-sdk = { workspace = true, features = ["controller"] }
gst = { version = "0.24", package = "gstreamer" }
gst-app = { version = "0.24", package = "gstreamer-app" }
log = { workspace = true }
mimalloc = { workspace = true }
parking_lot = { workspace = true }
rtsc = { workspace = true }
serde = { workspace = true, features = ["derive", "rc"] }
tokio = { workspace = true, features = ["full"] }

[features]
std-alloc = []
