xc
sbin/bus
sbin/eapigen
runtime
modules
TODO.todo
target
__pycache__
*.pyc
yedb
var
log
venv
bin/key-deploy
bin/key-import
install/import-registry-defaults
install/import-registry-schema
install/init-registry
sbin/pypi-mirror
sbin/eva-node
sbin/yedb-cli
sbin/rsatool
etc/eva_config
etc/watchdog
cli
mirror
var/mirror
.keys
_build
tests
vendored-apps
bus
lab-eva.json
