[package]
name = "eva-db-sql"
version.workspace = true
edition.workspace = true
repository.workspace = true
publish = false

[dependencies]
busrt = { features = ["rpc", "ipc"] , workspace = true }
tokio = { features = ["full"] , workspace = true }
async-trait = { workspace = true }
serde = { features = ["derive", "rc"] , workspace = true }
eva-common = { features = ["events", "time", "db", "workers", "common-payloads"] , workspace = true }
log = { workspace = true }
async-channel = { workspace = true }
eva-sdk = { workspace = true }
once_cell = { workspace = true }
bmart = { workspace = true }
sqlx = { version = "0.6.3", features = [
"runtime-tokio-native-tls", "any",
"sqlite","mysql", "postgres" ] }
futures = "0.3.30"
mimalloc = { workspace = true }

[features]
std-alloc = []
