[package]
name = "eva-svc-mailer"
version.workspace = true
edition.workspace = true
repository.workspace = true
publish = false

[dependencies]
eva-common = { features = ["events", "time"] , workspace = true }
eva-sdk = { workspace = true }
tokio = { features = ["full"] , workspace = true }
async-trait = { workspace = true }
serde = { features = ["derive", "rc"] , workspace = true }
log = { workspace = true }
lettre = { version = "0.11.19", features = ["tokio1-native-tls"] }
mimalloc = { workspace = true }
ttl_cache = { workspace = true }
parking_lot = { workspace = true }
tokio-task-pool = "0.1.5"
async-channel = { workspace = true }

[features]
std-alloc = []
