[package]
name = "eva-ffi"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
busrt = { workspace = true, features = ["rpc", "ipc", "rt"] }
eva-common = { workspace = true, features = ["events", "time"] }
eva-sdk = { workspace = true }
tokio = { workspace = true, features = ["full"] }
async-trait = { workspace = true }
serde = { workspace = true, features = ["derive", "rc"] }
log = { workspace = true }
async-channel = { workspace = true }
mimalloc = { workspace = true }
libloading = "0.8.1"
clap = { workspace = true, features = ["derive"] }

[features]
std-alloc = []
