[package]
name = "eva-lsl"
version = "4.2.0"
edition = "2024"
authors = ["Serhij S. <div@altertech.com>"]
license = "Apache-2.0"
repository = "https://github.com/eva-ics/eva4"
description = "EVA ICS v4 local service launcher"
readme = "README.md"
keywords = ["eva-ics", "iot", "industrial", "scada", "cloud"]

[dependencies]
async-channel = "2.3.1"
clap = { version = "4.5.20", features = ["derive"] }
colored = "2.1.0"
eva-client = "^0.5.2"
eva-common = { version = "0.4.2", features = ["common-payloads", "payload", "services", "openssl-vendored"] }
hostname = "0.4.0"
notify = "7.0.0"
serde = { version = "1.0.210", features = ["derive"] }
tokio = { version = "1.49", features = ["full"] }

[target.'cfg(windows)'.dependencies]
ansi_term = "0.12.1"
