[package]
name = "eva-repl"
version.workspace = true
edition.workspace = true
repository.workspace = true
publish = false

[dependencies]
busrt = { features = ["rpc", "ipc"] , workspace = true }
eva-common = { features = ["events", "time", "common-payloads"] , workspace = true }
eva-sdk = { features = ["pubsub", "http"], workspace = true }
tokio = { features = ["full"] , workspace = true }
async-trait = { workspace = true }
serde = { features = ["derive", "rc"] , workspace = true }
log = { workspace = true }
async-channel = { workspace = true }
mimalloc = { workspace = true }
psrpc = { workspace = true }
psrt = { workspace = true }
paho-mqtt = { workspace = true }
serde_json = { workspace = true }
bmart = { workspace = true }
triggered = "0.1.2"
uuid = { features = ["serde", "v4"] , workspace = true }
openssl = { workspace = true }

[features]
std-alloc = []
